@model Borrows.Models.BorrowDb

@{
    ViewData["Title"] = "Create";
}

<!-- Bootstrap 3.3.6 -->
@*<link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">*@
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/AdminLTE.min.css" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" />
<!-- iCheck -->
<link rel="stylesheet" href="plugins/iCheck/flat/blue.css" />
<!-- Morris chart -->
<link rel="stylesheet" href="plugins/morris/morris.css" />
<!-- jvectormap -->
<link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css" />
<!-- Date Picker -->
<link rel="stylesheet" href="plugins/datepicker/datepicker3.css" />
<!-- Daterange picker -->
<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css" />
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />


<h2 style="margin-left:20px">Create</h2>

<h4 style="margin-left:20px">BorrowDb</h4>
<hr />
<div class="row" style="margin-left:20px">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ServiceCode" class="control-label"></label>
                <input asp-for="ServiceCode" class="form-control" placeholder="SV....." id="SVid" name="SV" value="@ViewBag.SV" /><input type="submit" value="check" /><i class="fa fa-search"></i>
                <span asp-validation-for="ServiceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" placeholder="..." value="@ViewBag.Customer" disabled />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" value="@ViewBag.Product" disabled />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNo" class="control-label"></label>
                <input asp-for="SerialNo" class="form-control" value="@ViewBag.Serial" disabled />
                <span asp-validation-for="SerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryName" class="control-label"></label>
                <input asp-for="EntryName" class="form-control" />
                <span asp-validation-for="EntryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryDate" class="control-label"></label>
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestName" class="control-label"></label>
                <input asp-for="RequestName" class="form-control" />
                <span asp-validation-for="RequestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestDate" class="control-label"></label>
                <input asp-for="RequestDate" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" />
                <span asp-validation-for="RequestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowStatus" class="control-label"></label>
                <input asp-for="BorrowStatus" class="form-control" value="Test" />
                <span asp-validation-for="BorrowStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadApproverId" class="control-label"></label>
                <input asp-for="HeadApproverId" class="form-control" />
                <span asp-validation-for="HeadApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadApproverDate" class="control-label"></label>
                <input asp-for="HeadApproverDate" class="form-control" />
                <span asp-validation-for="HeadApproverDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerApproverId" class="control-label"></label>
                <input asp-for="ManagerApproverId" class="form-control" />
                <span asp-validation-for="ManagerApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerApproverDate" class="control-label"></label>
                <input asp-for="ManagerApproverDate" class="form-control" />
                <span asp-validation-for="ManagerApproverDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogisticApproverId" class="control-label"></label>
                <input asp-for="LogisticApproverId" class="form-control" />
                <span asp-validation-for="LogisticApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogisticApproverDate" class="control-label"></label>
                <input asp-for="LogisticApproverDate" class="form-control" />
                <span asp-validation-for="LogisticApproverDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowItem" class="control-label"></label>
                <select asp-for="BorrowItem" class="form-control" />
                <span asp-validation-for="BorrowItem" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- jQuery 2.2.3 -->
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
        $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="~/plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="~/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="~/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/app.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
