@model Borrows.Controllers.BorrowDbsController
@using NonFactors.Mvc.Grid;


@{
    ViewData["Title"] = "Edit";
    //WebGrid grid = new WebGrid(Model.BorrowItem, canPage: true, rowsPerPage: 5);

}

<h2 style="margin-left:20px">Edit</h2>

<h4 style="margin-left:20px">BorrowDb</h4>
<hr />
<div class="row" style="margin-left:20px">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.borrowdb.BorrowId" name="Id" />
            <div class="form-group">
                <label asp-for="@Model.borrowdb.ServiceCode" class="control-label"></label>
                <input asp-for="@Model.borrowdb.ServiceCode" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.ServiceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.CustomerName" class="control-label"></label>
                <input asp-for="@Model.borrowdb.CustomerName" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.ProductId" class="control-label"></label>
                <input asp-for="@Model.borrowdb.ProductId" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.SerialNo" class="control-label"></label>
                <input asp-for="@Model.borrowdb.SerialNo" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.SerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.EntryName" class="control-label"></label>
                <input asp-for="@Model.borrowdb.EntryName" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.EntryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.EntryDate" class="control-label"></label>
                <input asp-for="@Model.borrowdb.EntryDate" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.RequestName" class="control-label"></label>
                <input asp-for="@Model.borrowdb.RequestName" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.RequestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.RequestDate" class="control-label"></label>
                <input asp-for="@Model.borrowdb.RequestDate" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.RequestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.BorrowStatus" class="control-label"></label>
                <input asp-for="@Model.borrowdb.BorrowStatus" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.BorrowStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.HeadApproverId" class="control-label"></label>
                <input asp-for="@Model.borrowdb.HeadApproverId" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.HeadApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.HeadApproverDate" class="control-label"></label>
                <input asp-for="@Model.borrowdb.HeadApproverDate" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.HeadApproverDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.ManagerApproverId" class="control-label"></label>
                <input asp-for="@Model.borrowdb.ManagerApproverId" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.ManagerApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.ManagerApproverDate" class="control-label"></label>
                <input asp-for="@Model.borrowdb.ManagerApproverDate" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.ManagerApproverDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.LogisticApproverId" class="control-label"></label>
                <input asp-for="@Model.borrowdb.LogisticApproverId" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.LogisticApproverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.borrowdb.LogisticApproverDate" class="control-label"></label>
                <input asp-for="@Model.borrowdb.LogisticApproverDate" class="form-control" />
                <span asp-validation-for="@Model.borrowdb.LogisticApproverDate" class="text-danger"></span>
            </div>

            <div id="editorRows">
                @foreach (var item in @Model.borrowdb.BorrowItem)
                {
                    Html.RenderPartial("_itemEditor", item);
                }

            </div>
            <input type="button" id="addItem" name="addItem" />



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $("#addItem").on('click', function () {

            $.ajax({
                async: false,
                url: '/BorrowDbs/AddItem'
            }).success(function (partialView) {

                $('#editorRows').append(partialView);

            });
        });

    </script>
}
