@using HtmlHelpers.BeginCollectionItemCore;
@model Borrows.Models.BorrowItem

@{
    Layout = null;
}

<li style="padding-bottom:15px" class="form-group">
    @using (Html.BeginCollectionItem("BorrowItem"))
    {
        @*<img src="@Url.Content("~/Content/images/draggable-icon.png")" style="cursor: move" alt="" />*@
        
        <div class="form-control">
            <i class="fa fa-square" style="cursor: move" alt=""></i>
            @Html.HiddenFor(model => model.ItemId)

            @Html.LabelFor(model => model.ItemCode)
            @Html.EditorFor(model => model.ItemCode)
            @Html.ValidationMessageFor(model => model.ItemCode)

            <a href="#" onclick="$(this).parent().search();"><i class="fa fa-search"></i></a>

            @Html.LabelFor(model => model.ItemName)
            @Html.EditorFor(model => model.ItemName)
            @Html.ValidationMessageFor(model => model.ItemName)

            @Html.LabelFor(model => model.ItemQty)
            @Html.EditorFor(model => model.ItemQty)
            @Html.ValidationMessageFor(model => model.ItemQty)

            <a href="#" onclick="$(this).parent().remove();"><i class="fa fa-trash"></i></a>
        </div>


    }
</li>

